:root{

    --dark:#1a1a1b;

    --light:#40444b;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}

.content{
    display: grid;
    background-color: blue;
    margin: 0%;

    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "side main";
    overflow-y: hidden;
    height: 100vh;
}

.content > div{
    background-color: lightblue;

}

/*side panel content*/

.content > div.side-panel{
    display: flex;
    border-style: solid;
    border-color: #0c0c0e;
    border-width: 3px;

    align-items: center;
    justify-content: center;
    background-color: #1a1a1b;
    grid-area: side;
}

.content > .side-panel > .menu{
    display: flex;
    width: 100%;
    min-height: 100%;
    background-color: 	#1a1a1b;


    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.content > div.side-panel > .menu > .menu-item{
    display: flex;
    gap: 2%;
    align-items: center;
    width: 100%;
    height: 4vh;

    align-items: center;
    justify-content: center;

    color: rgba(255, 255, 255, 0.726);
    font-size: 85%;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in;
}


.content > div.side-panel > .menu > .menu-item:hover{
    color: white;
    background-color: #40444b61;
    cursor: pointer;
}
.content > div.side-panel > .menu > .menu-item > a{
    color: rgba(255, 255, 255, 0.726);
    text-decoration: none;
}

.content > div.side-panel > .menu > .menu-item > a:hover{
    color: white;
    transition: color 0.1s ease-in-out;
}



/*main panel content*/
.content > div.main-panel{
    background-color:rgb(36, 36, 36);
    grid-area: main;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: scrollbar-color 0.1s ease-out;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
    transition: scrollbar-color 0.1s ease-out;
}


.main-panel > .background{
    
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;

    animation-timeline: scroll();
    animation-name: move-up;
    animation-fill-mode: forwards;
}

.main-panel > .main-block{
    width: 100%;
    height: 300%;


    animation-timeline: scroll();
    animation-name: move-up2;
    animation-fill-mode: none;
}

.main-block > .title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    padding-right: 5%;
    padding-bottom:5%;
    padding-top: 20%;
    text-align: right;
    transform: translateY(0);
    transition: transform 2s ease-out; 
}

.main-block > .body {

    width: 100%;
    min-height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5%;


    background-image: linear-gradient(#2f313653, #2f3136dc 80%);
    border-style: solid;
    border-color:#292e378d;
    backdrop-filter: blur(20px);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in, transform 2s ease; 
}

.body > p{
    color: rgba(255, 255, 255, 0.68);
}

.body > .code-block{

    font-family: monospace;

    padding: 3%;
    background-color:rgba(25, 38, 43, 0.811);
    color:rgb(127, 206, 202);

    border-top-color: rgba(255, 255, 255, 0.244);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgba(255, 255, 255, 0.329);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(255, 255, 255, 0.47);
    border-left-style: solid;
    border-left-width: 5px;


}

.body > img{
    max-width: 100%;
    border-radius: 3px;
}

.main-block > .gif{
  width: 60px;
  height: 60px;
  position: absolute;
  opacity: 0.5;
  top: 10%;
  left: 10%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(0);
  transition: transform 150s linear;
}



.aboutme{
    width: 100%;
    height: 100%;

    overflow: hidden;

    display: grid;
    grid-template-rows: 2fr 1fr 5fr 5fr;
    grid-template-areas:
    "header header header"
    "subhead subhead subhead"
    "stuff stuff picture"
    "stuff stuff picture";
    grid-template-columns: 1fr 1fr 1fr;

    z-index: 1;
}

.aboutme > .aboutme-header{
    width: 100%;
    height: 100%;

    grid-area: header;
    
    padding-left: 3%;
    padding-top: 3%;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.923);

    backdrop-filter: blur(20px);
    z-index: 1;

    transform: translateY(0);

    transition: transform 4s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 2s ease-out; 

}
.aboutme > .aboutme-subhead{
    width: 100%;
    height: 100%;

    grid-area: subhead;

    display: grid;
    grid-template-columns: 4fr 1fr;

    backdrop-filter:blur(15px);
    
    box-shadow: inset 0px 10vh 20vh -10vh rgba(0, 0, 0, 0.806);

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(61, 61, 61);

    z-index: 1;    
}
.aboutme > .aboutme-subhead > .aboutme-subhead-text{
    width: 100%;
    height: 100%;

    padding-left: 2%;
    padding-top: 1.5%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(231, 231, 231, 0.623);

    z-index: 1;    
}
.aboutme > .aboutme-subhead > .aboutme-subhead-buttons{

    display:flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5%;

    z-index: 1;    
}

.aboutme > .aboutme-subhead > .aboutme-subhead-buttons > .buttonSkip{

    width: 10%;
    height: 50%;

    
    border-style: solid;
    border-width: 1px;
    border-color: rgba(156, 224, 141, 0.767);

    background-color: rgba(33, 33, 33, 0.532);
    box-shadow: 0vh 0vh 0.5vh rgba(156, 224, 141, 0.767);

    transition: box-shadow 0.5s ease-out;

    z-index: 1;    
}
.aboutme > .aboutme-subhead > .aboutme-subhead-buttons > .buttonSkip:hover{

    box-shadow: 0vh 0vh 1vh rgba(172, 239, 157, 0.945);

}
.aboutme > .aboutme-subhead > .aboutme-subhead-buttons > .buttonPausePlay{

    width: 10%;
    height: 50%;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(156, 224, 141, 0.767);

    background-color: rgba(33, 33, 33, 0.532);
    box-shadow: 0vh 0vh 0.5vh rgba(156, 224, 141, 0.767);

    transition: box-shadow 0.5s ease-out;

    z-index: 1;    
}
.aboutme > .aboutme-subhead > .aboutme-subhead-buttons > .buttonPausePlay:hover{

    box-shadow: 0vh 0vh 1vh rgba(172, 239, 157, 0.945);

}
.aboutme > .aboutme-subhead > .aboutme-subhead-buttons > .buttonVolume{

    width: 10%;
    height: 50%;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(156, 224, 141, 0.767);

    background-color: rgba(33, 33, 33, 0.532);
    box-shadow: 0vh 0vh 0.5vh rgba(156, 224, 141, 0.767);

    transition: box-shadow 0.5s ease-out;

    z-index: 1;    
}
.aboutme > .aboutme-subhead > .aboutme-subhead-buttons > .buttonVolume:hover{

    box-shadow: 0vh 0vh 1vh rgba(172, 239, 157, 0.945);

}


.aboutme > .aboutme-items{
    max-width: 100%;
    height: 100%;

    grid-area: stuff;
    min-height: 0;

    display: flex;
    align-items: center;
    padding-top: 2%;
    row-gap: 3%;
    flex-direction: column;

    z-index: 1;
}

.aboutme > .aboutme-items > .aboutme-item{
    width:95%;
    height: 30%;

    box-sizing: border-box;
    overflow: hidden;        
    overflow-wrap: break-word;  
    white-space: normal; 

    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 1%;

    min-height: 0;

    box-shadow: inset 0px 10vh 20vh -10vh rgba(118, 118, 118, 0.306);
    border-style: solid; 
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(139, 139, 139);
    backdrop-filter: blur(8px);
    z-index: 1;

    transform: translateY(0);

    overflow: auto;

    transition: width 1s ease-in-out, transform 2s ease-out; 

}

.aboutme > .aboutme-items > .aboutme-item > p{
    color: rgba(255, 255, 255, 0.804);
    font-size: small;
}

.aboutme > .aboutme-items > .aboutme-item:hover{
    width: 97%;
}


.aboutme > .aboutme-image{
    width: 100%;
    height: 100%;
    min-height: 0;
    min-width: 100%;

    grid-area: picture;

    padding: 10%;

    z-index: 1;
}

.aboutme > .aboutme-image > .image-class{

    width: 100%;
    height:100%;

    background-image: url(1000004577.jpg);
    background-size:cover;
    background-repeat:no-repeat;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(67, 67, 67);
    border-radius: 2px;
    transform: translateY(0%);
    rotate: 0deg;

    transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1), rotate 3s cubic-bezier(0.455, 0.03, 0.515, 1);

}

.aboutme > .background-gear{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(10%);
    background-image: url(gear_PNG2.png);
    background-size: cover;
    opacity: 0.1;
    
    z-index: 0;
}



@keyframes move-up{
    from{
        
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes move-up2{
    from{
        transform: translateY(-25%);
    }
    to {
        transform: translateY(-30%);
    }
}